@model BcaoCuoiKy.Models.KhachHang

@{
    ViewBag.Title = "Details";
}

<h2>Xem chi tiết khách hàng</h2>

<div>

    <dl class="dl-horizontal">
        <dt>
           Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
           Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>


        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaKH }) |
    @Html.ActionLink("Trở về trang danh sách khách hàng", "Index")
</p>
